/* Rating result stars */

.starability-result {
  position: relative;
  width: 150px;
  height: 30px;
  font-size: 0;
  background: linear-gradient(
    to right,
    #ccc 0,
    #ccc 100%
  );
  margin: 0;
}

.starability-result::before {
  content: "★★★★★";
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 30px;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0;
  color: #ccc;
}

.starability-result::after {
  content: "★★★★★";
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  overflow: hidden;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0;
  color: #ffc107;
}

/* Rating result based on rating value */

.starability-result[data-rating="1"]::after {
  width: 30px;
}

.starability-result[data-rating="2"]::after {
  width: 60px;
}

.starability-result[data-rating="3"]::after {
  width: 90px;
}

.starability-result[data-rating="4"]::after {
  width: 120px;
}

.starability-result[data-rating="5"]::after {
  width: 150px;
}


/* Rating input */

.starability-slot {
  display: block;
  position: relative;
  width: 150px;
  min-height: 60px;
  padding: 0;
  border: none;

  /* Fixes 4 stars in one row + 1 below */
  white-space: nowrap;
}


/* Hide radio buttons */

.starability-slot > input {
  position: absolute;
  margin-right: -100%;
  opacity: 0;
}


/* Star labels */

.starability-slot > label {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  cursor: pointer;
}


/* Create stars */

.starability-slot > label::before {
  content: "★";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  font-size: 30px;
  line-height: 30px;
  color: #ccc;
}


/* Selected / checked stars */

.starability-slot > input:checked + label::before {
  color: #ffc107;
}


/* Selected star and all stars before it */

.starability-slot > input:checked + label,
.starability-slot > input:checked + label ~ label {
  color: transparent;
}


/* Hover effect */

.starability-slot > input:not([disabled]):hover + label::before {
  color: #ffc107;
}

.starability-slot > input:not([disabled]):hover ~ label::before {
  color: #ffc107;
}


/* Focus */

.starability-slot > input:focus + label::before {
  outline: 1px dotted #999;
}


/* Disabled */

.starability-slot > input[disabled] + label {
  cursor: default;
}


/* Focus ring */

.starability-slot .starability-focus-ring {
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  height: 30px;
  outline: 2px dotted #999;
  pointer-events: none;
  opacity: 0;
}

.starability-slot > .input-no-rate:focus ~ .starability-focus-ring {
  opacity: 1;
}